{% extends 'base.html' %}
{% load static %}
{% block title %}Password Change Success Page{% endblock %}
{% block main-content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 border-end">
                <ul class="list-unstyled">
                    <li class="d-grid"><a href="" class="btn btn-outline-primary">Password Change Done</a></li>
                </ul>
            </div>
    
            <div class="col-sm-8 offset-sm-1">
                <h3>Password Changed Successfully. Please Check It.</h3>
                <center>
                    <div>
                        <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200" frameborder="0" class="giphy-embed" allowfullscreen></iframe>
                    </div>
                </center>
            </div>
        </div>
    </div>
</section>
{% endblock main-content %}