{% extends 'base.html' %}
{% load static %}
{% block title %}Search Items Page{% endblock %}

{% block main-content %}
<section>
    {% if all_searh_items %}
    <div class="row">
        {% for i in all_searh_items %}
        <div class="col text-center mb-4">
            <a href="{% url 'product-details' i.id %}" class="btn">
                <div>
                    <img src="{{ i.product_image.url }}" width="300px" height="200px" alt="">
                    <div class="fw-bold">{{ i.title }}</div>
                    <div class="fw-bold">
                        <small
                            class="fw-light text-decoration-line-through text-danger">&#8377;{{i.selling_price}}</small>
                        &nbsp;&nbsp;&nbsp;
                        <small class="fw-bold">&#8377;{{i.discounted_price}}</small>
                    </div>
                </div>
            </a>

        </div>
        {% endfor %}
    </div>
    {% else %}
    <h4 class="text-danger"><marquee behavior="alternate" direction="right">No items found! Please try again with different keywords.</marquee></h4>
    {% endif %}
    
</section>
{% endblock main-content %}